@import '../../styles/variables';

.layout {
  min-height: 100vh;
  background: #FBFBFB;

  &__main {
    margin-left: $sidebar-width;
    margin-top: $navbar-height;
    padding: 40px;
    min-height: calc(100vh - #{$navbar-height});

    @media (max-width: 768px) {
      margin-left: 0; 
      padding: 24px 16px;
    }
  }
}
